html,
body {
  padding: 0;
  margin: 0;
  font-family: "Share Tech Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: blue;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: auto;
}
